:root{
    ---negro:black;
    ---negro-claro:rgb(87, 87, 87);
    ---blanco:white;
    ---rojo:red;

    ---fuente-principal: 'Nunito Sans', sans-serif;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

/* Globales*/

body{
    font-family: var(---fuente-principal);
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0.9527027027027027) 70%, rgba(255,0,0,1) 100%);
}


@media (min-width:768px){
    .body-scroll{
        padding-top: 8rem;
    }
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

.no-padding{
    padding:0;
}

.no-margin{
    margin: 0;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
    margin: 0;
    padding: 0;
}

h1{
    text-transform:uppercase;
}

h3{
    font-size:1.2rem;
    text-transform:uppercase;
}

p{
    font-size: 1.5rem;
    text-align: center;
}

/* HEADER */

.header-contenedor{
    background: rgba(255, 43, 43, 0.459);
    background: linear-gradient(90deg, rgba(255,255,255,100) 70%, rgba(255,0,0,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 24px 5px -19px rgba(181,171,171,0.63);
    -webkit-box-shadow: 1px 24px 5px -19px rgba(181,171,171,0.63);
    -moz-box-shadow: 1px 24px 5px -19px rgba(181,171,171,0.63);
    margin-bottom: 2rem;
}





.logo-barraSmall{
    display: flex;
    justify-content: center;
    background: rgba(255, 43, 43, 0.459);
    background: linear-gradient(90deg, rgba(255,255,255,100) 70%, rgba(255,0,0,1) 100%);
    box-shadow: 1px 24px 5px -19px rgba(181,171,171,0.63);
    -webkit-box-shadow: 1px 24px 5px -19px rgba(181,171,171,0.63);
    -moz-box-shadow: 1px 24px 5px -19px rgba(181,171,171,0.63);
    margin-bottom: 2rem;
    
}

.header-navegacion{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 1rem;
    width: 100%;
}

.navegacionSmall{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
}   

.fija-2{
    position:fixed;
    z-index: 15;
    width: 100%;
}

.enlace{
    color:var(---negro);
    font-weight: 700;
    padding: .5rem 0;
    margin: 0 1rem;
    font-size: 0.85rem;
    text-align: center;
}
@media (min-width: 480px){
    .header-logo img{
        height: 4rem;
        
    }
}
@media (min-width:600px){
   .header-logo img{
        height: 5rem;
    }
}
@media (min-width:768px){
    .header-contenedor{
        background: rgb(255,255,255);
        background: linear-gradient(90deg, 
        rgba(255,255,255,100) 70%, 
        rgba(255,0,0,1) 100%);
        flex-direction: row;
        justify-content: space-around;
        left: 0;
        top:0;
     }
     .header-navegacion{
        width: auto;
        flex-direction: row;
        padding: 2rem 2rem 0 0;
    }
    .enlace{
        font-size:1.2rem;
    }
    .fija{
        position:fixed;
        z-index: 15;
        width: 100%;
    }
}
@media (min-width: 900px) {
    .enlace{
        padding: 0 .5rem;
        margin: 0 1rem;
        font-size: 1.56rem;
    }
    .enlace:hover{
        font-size: 1.8rem;
        transition: font-size .3s ease;
    }
}

/* PORTADA */

.portada{
    display:flex; 
}

.portada-texto{
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 10;
    margin: 0;
    padding: 1.5rem 0 0 0;
}
.portada-texto h4{
    margin: 0;
    padding: 1rem;
    color: var(---blanco);
    text-shadow: rgb(253, 253, 253);
    font-size: 1rem;
    text-align: center;
}

.portada-imagen{
    filter: brightness(40%);
    width: 100%;
}


@media (min-width:600px) {
    .portada-texto h4{
        font-size:1.3rem;
    }
}

@media (min-width:768px) {
    .portada-texto h4{
        font-size:1.8rem;
    }
}
.titulo{
    font-size: 0.5rem;
    text-align: center;
}

@media (min-width: 480px){
    .titulo{
        font-size: 0.7rem;
    }
    
}

@media (min-width: 768px){
    .titulo{
        font-size: 0.9rem;
    }
}

@media (min-width: 480px){
   .titulo{
    padding: 0 2rem 0 2rem;
   }
}

/* NOSOTROS */

.nosotros{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nosotros-texto p{
    font-size: 0.8rem;
}

.nosotros-contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;   
}

.nosotros-texto{
    text-align: center; 
 }
@media (min-width: 480px){
    .nosotros-texto p{
        font-size: 1rem;
    }
}

@media (min-width: 600px){
    .nosotros-texto p{
        font-size: 1.1rem;
    }
}
@media (min-width:768px){
    .nosotros-texto p{
        font-size: 1.4rem;
    }
}

.nosotros-texto span{
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px black;
}

.serv-text{
    background-color: red;
    padding: 0 5px;
    border-radius: 2rem;
}
.serv-text:hover{
    background-color:black;
}

.nosotros-img{
    padding: 1rem 0;
}

.nosotros img{
    border-radius: 1rem;
    filter: brightness(50%);
}


@media (min-width:1700px) {
    .nosotros-contenedor{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap:2rem;
        
    }   

    .nosotros-texto p{
        font-size: 1.7rem;
        line-height:1.5;
    }
}

/* CALCULADORA */

.calculadora{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 20px rgb(0, 0, 0);
    padding: 2rem;
    border-radius: 2rem;
    max-width:51.2rem;
    margin:2rem 2rem;
    
}

.calculadora h3{
    text-align: center;
    font-size: 0.7rem;
}

.cuerpo-calc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}


#kgs{
    height: 1.7rem;
    width: 10rem;
    border-radius: 0.5rem;
    font-size: 1.7rem;
    text-align: center;
}

#valor{
    height: 1.7rem;
    width: 10rem;
    border-radius: 0.5rem;
    font-size: 1.7rem;
    text-align: center;
}
::placeholder{
    font-size: 0.8rem;
}

.boton{
    height: 2.2rem;
    width: 5.5rem;
    font-size: 1rem;
    border-radius: 1rem;
    background-color:rgb(255, 56, 56);
    color:white;
    box-shadow: 0 2px 5px black;
    margin: 2rem 0 0 0;
}

.botonGris{

    height: 2.2rem;
    width: 5.5rem;
    font-size: 1rem;
    border-radius: 1rem;
    background-color:rgb(182, 175, 175);
    color:rgb(0, 0, 0);
    box-shadow: 0 2px 5px black;
    margin: 2rem 0 0 0;
    
}

.boton:hover{
    cursor: pointer;
    background-color: rgb(0, 0, 0);
}

.botonGris:hover{

    cursor:auto;
    background-color:rgb(182, 175, 175);
}

.resultado{
    display: flex;
    align-items:center;
    justify-content:center;
    background-color:rgb(253, 69, 69);
    color:white;
    font-weight:bold;
    font-size: 0.8rem;
    height:2.5rem;
    width:16rem;
    border-radius:2rem;
    text-shadow:2px 2px 2px rgb(0, 0, 0);
}

.mensajeError{
    display: flex;
    align-items:center;
    justify-content:center;
    color:rgb(255, 255, 255);
    background-color: rgb(95, 95, 95);
    height:2.5rem;
    width:17.5rem;
    border-radius:2rem;
    font-size: 0.8rem;
}

@media (min-width: 480px){
    #kgs{
        width:13rem;
    }
    #valor{
        width: 13rem;
    }
    .boton{
        width:7rem;
    }
    .botonGris{
        width:7rem;
    }
    .resultado{
        width: 26rem;
        font-size: 1rem
    }
    .mensajeError{
        width:26rem;
        font-size: 1rem;
    }
    ::placeholder{
        font: size 1rem;
    }

    .input-estilo{
        font-size:0.6rem;
    }
    .calculadora h3{
        font-size:0.9rem;
    }
    .item input{
        font-size:20pt;
    }
}


@media (min-width: 600px){
    #kgs{
        width:16.9rem;
    }
    #valor{
        width: 16.9rem;
    }
    .boton{
        width:9rem;
    }
    .botonGris{
        width:9rem;
    }
    .resultado{
        width: 31rem;
        font-size: 1.2rem
    }
    .mensajeError{
        width:31rem;
        font-size: 1.2rem;
    }

    ::placeholder{
        font-size: 1.2rem;
    }

    .input-estilo{
        font-size:1rem;
    }
    .calculadora h3{
        font-size:1.1rem;
    }
}

 @media(min-width:768px){

    #kgs{
        width:22rem;
        height: 2.5rem;
    }
    #valor{
        width: 22rem;
        height: 2.5rem;
    }
    .calculadora h3{
        font-size: 1.3rem;
    }
    .resultado{
        width: 35rem;
        font-size: 1.2rem;
        height:5rem;
    }
    .mensajeError{
        height: 5rem;
        width:25rem;
        font-size: 1.2rem;
    }
    .boton{
        width:11.7rem;
        height:2.8rem;
        font-size: 1.3rem;
    }
    .botonGris{
        width:11.7rem;
        height:2.8rem;
        font-size:1.3rem;
    }
} 
@media (min-width: 900px){
    .calculadora{
        margin: 2rem auto;
    }
}

/* SERVICIO */

.servicios{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:2rem;
}

.servicios-contenedor{
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 1rem;
    align-items: center;
}

.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 1px 20px rgb(0, 0, 0);
    width:7.5rem;
    height: 7.5rem; 
    overflow: hidden;
    margin-top: 2rem;
    border-radius: 1rem;
}

.servicio h3{
    text-align: center;
    font-size: 0.5rem;
}

.servicio-img{
    background-color: black;
    height: 3.2rem;
    width: 3.2rem;
    border-radius: 50%;
    border: .25rem solid var(---negro-claro);
    
}

.servicio p{
    text-align: center;  
    font-size: 0.5rem;  
}

@media (min-width: 480px){
    .servicios-contenedor{
        column-gap: 1.3rem;
    }
    .servicio{
        width: 10rem;
        height:10rem;
        border-radius: 1.2rem;
    }
    .servicio h3{
        font-size: 0.65rem;
    }

    .servicio-img{
        width: 4rem;
        height: 4rem;
        border: 0.416rem solid var(---negro-claro);
    }

    .servicio p{
        font-size: 0.6rem;
    }
}

@media (min-width:600px){
    .servicios-contenedor{
        column-gap: 1.69rem;
    }
    .servicio{
        width:13rem;
        height: 13rem;
        border-radius:1.56rem;
    }
    .servicio h3{
        font-size:1rem;
    }
    .servicio-img{
        width:5.2rem;
        height:5.2rem;
        border: 0.54rem solid var(---negro-claro);
    }
    .servicio p{
        font-size: 0.78rem;
    }
}

@media (min-width:768px){
    .servicios-contenedor{
        column-gap:2.08rem;
    }
    
    .servicio{
        width:16.9rem;
        height:16.9rem; 
    }

    .servicio h3{
        font-size: 1.3rem;
    }

    .servicio p{
    font-size: 1rem;
    }

    .servicio-img{
        width: 6.76rem;
        height: 6.76rem;
    }
}


@media (min-width:1600px) {
    .servicios-contenedor{
       grid-template-columns: repeat(4,1fr);
}
}



/* CONTACTO */

.contacto-contenedor{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 2rem;
}

.contacto-sucursales{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}



.sucursal{
   display:flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.sucursal-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.sucursal-texto p{
    text-align:center;
}

.sucursal-texto h3{
    font-size: 0.8rem;    
}

.sucursal-texto p{
    font-size: 0.8rem;
}
.sucursal-texto span{
    font-weight:700;
}
.sucursal-ubicacion iframe{
    width: 15rem;
    height: 15rem;
}

@media (min-width: 480px){
    .sucursal-texto h3{
        font-size: 1rem;
    }
    .sucursal p{
        font-size: 1rem;
    }
}

@media (min-width:600px){
    .sucursal-texto h3{
        font-size: 1.3rem;
    }
    .sucursal p{
        font-size: 1.3rem;
    }
    .sucursal-ubicacion iframe{
        width: 19.5rem;
        height: 19.5rem;
    }
}

@media (min-width:768px){
    .sucursal p{
        font-size: 1.69rem;
    }
    .sucursal-texto h3{
        font-size: 1.5rem;
    }
}
@media (min-width:1600px){
    .contacto-sucursales{
        flex-direction: row;
        align-items: center;
        justify-content:center;
        justify-content:space-evenly;
    }
}

/* LOGO WARAP */

/* .cont-logo{
    display: flex;
    justify-content: end;
}
.logo{
    width:5rem;
    margin: 0 1rem 1rem 0;
} */

/* FOOTER */

.footer{
    background-color: var(---negro);
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.footer h3{
    color:var(---blanco);
    font-size: 0.8rem;
    text-align: center;
    padding: 1rem;
}

@media (min-width: 480px){
    .footer h3{
        font-size: 1rem;
    }
}









































